/* Estilos para el contenedor principal de la barra lateral */
.sidebar-container {
  width: 240px;
  position: fixed;
  background-color: white;
  color: #212121;
  padding: 12px 0;
  height: calc(100vh - 56px);
  top: 56px;
  left: 0;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:hover {
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0px 7px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #f2f2f2;
    }

    img {
      position: relative;
      left: 5px;
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
  }

  hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 8px 0;
  }

  footer {
    padding: 24.3px;
    border-top: 1px solid #e0e0e0;
  }

  .links-primary,
  .links-secondary {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;

    a {
      color: #606060;
      font-size: 13px;
      font-weight: 500;
      margin-right: 9px;
      text-decoration: none;
      font-family: Roboto, Arial, sans-serif;

      &:hover {
        text-decoration: underline;
        text-decoration: none;
      }
    }
  }

  .links-secondary {
    a {
      margin-right: 10px;
    }
  }

  .copyright {
    position: relative;
    top: 17px;
    color: #606060;
    font-size: 15px;
  }

  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  padding-top: 0;
}

h3 {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  left: 22px;
}

.tu-con-icono {
  display: flex;
  align-items: center;
}

.tu-con-icono h3 {
  margin-right: 33px;
}

.tu-con-icono i {
  position: relative;
  top: 2px;
  font-size: 0.7em;
}
